@media (min-width: 320px) and (max-width: 575px){
/*======header part======*/
    .header{
        height: unset;
        padding-bottom: 150px;
    }
    .logo{
        font-size: 12px;
        margin-left: -40px;
        margin-right: 15px;
    }
    nav{
        justify-content: unset;
    }
    .nav-links{
        width: 300px;
    }
    .nav-links ul{
        margin-left: -10px;
    }
    .nav-links ul li{
        padding: 0 1px;
    }
    .nav-links ul li a{
        font-size: 12px;
    }
    .left-sidebar{
        width: 6%;
        height: 8%;
    }
    .left-col{
        flex-basis: 12%;
        margin-left: 0;
    }
    .left-col img{
        width: 100%;
        margin-top: 160px;
        margin-left: 75px;
    }
    .row{
        padding: 0;
    }
    .right-col{
        position: absolute;
        top: 220px;
        left: 0;
        opacity: 1;
        width: 320px;
        
    }
    .left-col{
        border: 2px dotted transparent;
    }
    .right-col p{
        font-size: 1rem;
        letter-spacing: 0rem;
    }
    .right-col h2{
        font-size: 1rem;
        line-height: 18px;
    }
    .right-col span{
        font-size: 0.9rem;
        margin-top: 20px;
        line-height: 30px;
        
    }
    
/*Portfolio part*/
    
    #portfolio1{
        width: 320px !important;
        margin-left: -1250px;
    }
    #portfolio1 h1{
        margin-left: 10px;
        width: 320px;
        text-align: center;
    }
    #portfolio2{
        height: 17vh;
    }
    
/*gallery part*/
  
    .gallery img{
        width: 90px;
        height: 115px;
        padding: 5px 5px;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .heading2{
        font-size: 0.7rem;
        margin-left: 1px;
    }
    .gallery2 img{
        width: 50px;
        height: 50px;
        padding: 2px;
        margin: -210px;
    }
    
/*About part*/
    
    #about{
        width: 320px;
        margin-left: -1235px;
        padding-bottom: 220px;
        margin-top: 20px;
    }
    .about img{
        width: 310px;
        height: 280px;
        top: -100px;
        margin-left: 7px;
    }

/*skill part*/
    
    .skill-bars{
        padding: 25px 10px;
        width: 290px;
        top: 210px;
        margin-left: -303px;
    }
    .skill-bars .bar .info span{
        font-size: 12px;
    }
    
/*education*/
    #education{
        position: relative;
    }
    #education h1{
        font-size: 16px;
        letter-spacing: 8px;
    }
/*hero part*/
    .hero{
        margin-left: -1230px;
        width: 320px;
    }
    
/*footer part*/
    .footer-distributed{
        width: 320px;
        margin-left: -1230px;
        height: 220px;
        margin-top: 0px;
    }
    .footer-distributed h3{
        font: normal 14px 'Cookie', cursive;
       
        
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
        margin-bottom: 0;
    }
    .footer-distributed .footer-center{
         
    }
    .footer-distributed h2{
        margin-left: -40px;
        margin-top: -45px;
    }
    .footer-distributed .footer-center p{
        margin-left: -20px;
    }

}

@media (min-width: 576px) and (max-width: 767px){
/*======header part======*/
    html{
        overflow-x: hidden;
    }
    .header{
        height: unset;
        padding-bottom: 150px;
    }
    .logo{
        font-size: 14px;
        margin-left: -40px;
        margin-right: 15px;
    }
    nav{
        justify-content: unset;
    }
    .nav-links{
        width: 300px;
        margin-left: 170px;
    }
    .nav-links ul{
        margin-left: -10px;
    }
    .nav-links ul li{
        padding: 0 1px;
    }
    .nav-links ul li a{
        font-size: 12px;
    }
    .left-sidebar{
        width: 8%;
        height: 8%;
    }
    .left-col{
        flex-basis: 15%;
        margin-left: 85px;
    }
    .left-col img{
        width: 100%;
        margin-top: 160px;
        margin-left: 75px;
    }
    .row{
        padding: 0;
    }
    .right-col{
        position: absolute;
        top: 270px;
        left: 10px;
        opacity: 1;
        width: 560px;
        
    }
    .left-col{
        border: 2px dotted transparent;
    }
    .right-col p{
        font-size: 1rem;
        letter-spacing: 1rem;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .right-col h2{
        font-size: 2rem;
        line-height: 35px;
        width: 500px;
    }
    .right-col span{
        font-size: 1.9rem;
        margin-top: 20px;
        line-height: 40px;
        width: 325px;
        
    }
    
/*Portfolio part*/
    
    #portfolio1{
        width: 576px !important;
        margin-left: -1250px;
    }
    #portfolio1 h1{
        margin-left: 125px;
        width: 576px;
        text-align: center;
    }
    #portfolio2{
        height: 16vh;
        width: 576px;
        margin-left: 135px;
    }
    
/*gallery part*/
  
    .gallery{
        width: 576px;
        margin-left: 125px;
    }
    .gallery img{
        width: 180px;
        height: 170px;
        padding: 5px 5px;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .heading2{
        font-size: 1.7rem;
        margin-left: 1px;
    }
    .gallery2 img{
        width: 50px;
        height: 50px;
        padding: 2px;
        margin: -210px;
    }
    
/*About part*/
    
    #about{
        width: 320px;
        margin-left: -1235px;
        padding-bottom: 0;
        margin-top: 35px;
    }
    .about img{
        width: 280px;
        height: 295px;
        top: -100px;
        margin-left: 7px;
    }

/*skill part*/
    
    .skill-bars{
        padding: 10px 10px;
        width: 290px;
        top: -95px;
        margin-left: -5px;
    }
    .skill-bars .bar .info span{
        font-size: 12px;
    }
    
/*education*/
    #education{
        position: relative;
        margin-top: -70px;
    }
    #education h1{
        font-size: 16px;
        letter-spacing: 8px;
    }
/*hero part*/
    .hero{
        margin-left: -960px;
        width: 830px;
    }
    
/*footer part*/
    .footer-distributed{
        width: 576px;
        margin-left: -974px;
        height: 220px;
        margin-top: 0px;
    }
    .footer-distributed h3{
        font: normal 14px 'Cookie', cursive;
       
        
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
        margin-bottom: 0;
    }
    .footer-distributed .footer-center{
         
    }
    .footer-distributed h2{
        margin-left: 10px;
        margin-top: -45px;
    }
    .footer-distributed .footer-center p{
        margin-left: -20px;
    }

}




























